body{
    min-width: 300px;
}
.infos{
    text-align: center
}

.content{
    max-height: 75vh;
    overflow-y: scroll;
    margin: 5vh;
}

.content::-webkit-scrollbar {
    display: none;
}

a {
    text-decoration: none;
}

td{
    border-style: groove;
    border-left-style: solid;
    border-left-color: #800000;
    border-radius: 5px;
}