body{
    min-width: 300px;
}

.capInfo{
    text-align: center;
}

.imgTitle{
    width: 40vh;
    margin: 2vh;
}

.content{
    max-height: 75vh;
    overflow-y: scroll;
    margin: 2vh 2vh 5vh 2vh;
    background-color: #f1f1f1;
    width: 120vh;
}

.content::-webkit-scrollbar {
    display: none;
}

a {
    text-decoration: none;
}

table{
    width: 100vh;
}